#searchUser{
    padding: 8px;
    width: 500px;
    height: 24px;

    border-radius: 10px;
    border: none;
    position: relative;

    background: var(--color-inputs);
}

.centerParent{
    display: grid;
    margin: 0;
    padding: 0;
    place-items: center;
}

@media screen and (max-width: 608px)  {
    #searchUser{
        width: 92vw;
    }
}